//Screen Breakpoints
$screen-xlg: 1600px;
$screen-lg: 1440px;
$screen-md: 1280px;
$screen-sm: 768px;
$screen-xs: 480px;

//Color palette
$charcoal: #264653;
$persian-green: #2a9d8f;
$saffron: #e9c46a;
$sandy-brown: #f4a261;
$burnt-sienna: #e76f51;
$white: #e9e9e9;
